<a href="https://colab.research.google.com/github/Azeez-Ibrahim/DSN_free_AI/blob/main/forth_submission_hack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Loading the dataset

In [ ]:
rem_thousand_sep_and_cast_to_float = lambda x: pd.np.int(x.replace(",", ""))
train = pd.read_csv("/content/drive/MyDrive/free-ai-classes-in-every-city-hackathon/Train.csv")
test = pd.read_csv("/content/drive/MyDrive/free-ai-classes-in-every-city-hackathon/Test.csv")

In [ ]:
train.head()

,VehicleID,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.2,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,"2,012",Silver,3.5,Nigerian Used,"125,000"
2,VHL19499,Lagos,Lexus,RX 350,"2,010",Red,9.2,Foreign Used,"110,852"
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.8,Foreign Used,"30,000"
4,VHL12170,Ibadan,Toyota,Highlander,"2,002",Red,2.6,Nigerian Used,"125,206"

In [ ]:
test.head()

,VehicleID,Location,Maker,Model,Year,Colour,Type,Distance
0,VHL18518,Abuja,BMW,323i,"2,008",White,Foreign Used,30524.0
1,VHL17149,Lagos,Toyota,Camry,"2,013",White,Foreign Used,NaN
2,VHL10927,Lagos,Toyota,Highlander Limited V6,"2,005",Gold,Foreign Used,NaN
3,VHL12909,Lagos,Toyota,Camry,"2,011",Gray,Foreign Used,166839.0
4,VHL12348,Lagos,Lexus,ES 350 FWD,"2,013",Red,Foreign Used,88862.0

In [ ]:
train.shape ,test.shape

((7205, 9), (2061, 8))

In [ ]:
train.columns

Index(['VehicleID', 'Location', 'Maker', 'Model', 'Year', 'Colour',
       'Amount (Million Naira)', 'Type', 'Distance'],
      dtype='object')

In [ ]:
test.columns

Index(['VehicleID', 'Location', 'Maker', 'Model', 'Year', 'Colour', 'Type',
       'Distance'],
      dtype='object')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7184 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7008 non-null   object
 8   Distance                4845 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7184 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7008 non-null   object
 8   Distance                4845 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [ ]:
train.drop('VehicleID', axis=1, inplace=True)

In [ ]:
test.drop('VehicleID', axis=1, inplace=True)

# Unique

In [ ]:
# The main of this section is to rename the different 
# class in our categorigal feature that were not properly named.
# or chanage the data type of a column

cat_features = {'Location', 'Maker', 'Model', 'Year', 'Colour', 'Type','Distance'}

for cat_feature in cat_features:
  print(cat_feature, train[cat_feature].unique(), sep=":")
  print("#"*50)

Model:['Accord Coupe EX V-6' 'Sonata' 'RX 350' ... 'Almera 1.6 Lux'
 'X5 3.0i Sports Activity' '320i SV Premium']
##################################################
Location:['Abuja' 'Ibadan' 'Lagos']
##################################################
Type:['Nigerian Used' 'Foreign Used' 'Brand New' nan]
##################################################
Maker:['Honda' 'Hyundai' 'Lexus' 'Mercedes-Benz' 'Toyota' 'Acura' 'Dodge'
 'Nissan' 'Kia' 'BMW' 'Volvo' 'Ford' 'Land Rover' 'Lincoln' 'Peugeot'
 'Chevrolet' 'Audi' 'Jaguar' 'Infiniti' 'Porsche' 'Fiat' 'Maserati'
 'Volkswagen' 'Suzuki' 'Bentley' 'GAC' 'Mazda' 'Scion' 'Renault'
 'Mitsubishi' 'Mini' 'Pontiac' 'Cadillac' 'Ferrari' 'Jeep' 'Buick'
 'Rolls-Royce' 'GMC' 'Chrysler' 'Lamborghini' 'Citroen' 'King' 'BAW'
 'Saturn' 'Tata' 'Opel' 'JAC' 'MG' 'Hummer' 'Subaru' 'Rover' 'Saab'
 'Skoda' 'IVM' 'Brabus']
##################################################
Distance:[nan '125,000' '110,852' ... '114,257' '85,750' '83,308']
##################################################
Colour:['Silver' 'Red' 'Blue' 'Black' 'Gold' 'White' 'Gray' 'Burgandy' 'Green'
 'Violet' 'Brown' 'Yellow' 'Orange' 'Pink' 'Beige' 'Purple' 'Ivory' 'G'
 'Teal' 'Mica' 'Pearl']
##################################################
Year:['2,011' '2,012' '2,010' '2,017' '2,002' '2,019' '2,015' '2,004' '2,003'
 '2,008' '2,018' '2,020' '2,006' '2,016' '2,014' '2,007' '2,009' '2,005'
 '2,021' '2,013' '2,000' nan '1,992' '2,001' '1,997' '1,999' '1,993'
 '1,998' '1,986' '1,996' '2,022' '1,995' '1,979' '1,989']
##################################################

In [ ]:
# The main of this section is to rename the different 
# class in our categorigal feature that were not properly named.
# or chanage the data type of a column

cat_featurez = {'Location', 'Maker', 'Model', 'Year', 'Colour', 'Type','Distance'}

for cat_feat in cat_featurez:
  print(cat_feat, test[cat_feat].unique(), sep=":")
  print("#"*50)

Model:['323i' 'Camry' 'Highlander Limited V6' 'ES 350 FWD' 'GLE-Class'
 'Sienna LE 4dr' 'ES 350' 'CR-V' 'RAV4 XLE FWD' 'RX' 'Sequoia'
 '4-Runner Limited' 'Corolla LE' 'Accord' 'Highlander SE' 'Vibe AWD'
 'RX 350 F Sport FWD' 'Creta' 'Range Rover Vogue' 'E320'
 'Land Cruiser Prado' 'Sonata' 'Sienna' '4-Runner Limited 4WD' 'C300'
 'E350' 'L200 Double Cab 2.5 136hp' 'Avalon XLE Plus (3.5L 6cyl 6A)'
 '4-Runner' 'RX 330' 'Touareg' 'GX 460 Base' 'GL-Class' 'M Class'
 'M Class ML 350 4Matic' 'GLK-Class' 'ES' 'Corolla' 'TLX' 'LX 570 Base'
 'Hilux' 'RX 350' 'IS 350' 'Premacy' 'Venza XLE AWD V6' 'RX 350 AWD'
 'E300' 'Edge SE 4dr FWD (3.5L 6cyl 6A)' 'Corolla CE' 'Venza AWD' 'Xj'
 'Zafira' 'Highlander 3' 'Camry SE FWD (2.5L 4cyl 8AM)' 'X5 3.0i'
 'Genesis' 'RVR' 'X3 xDrive30i AWD' 'Highlander XLE V6 4x2 (3.5L 6cyl 6A)'
 'RX 300' 'Venza' 'GX 460' 'EX 35' 'S-Class S 63 AMG 4MATIC (W222)'
 'C-Class C 350 (S204)' 'Venza V6' 'S-Class' 'Sienna LE AWD'
 'Highlander Limited 3.5L 2WD' 'Santa Fe GLS' 'Sharan Automatic'
 'MDX Base SH-AWD' 'Kia Sorento' 'Civic LX Sedan'
 'Range Rover Sport HSE Lux' 'Santa Fe' 'Corolla 1.4 Advanced'
 'Tacoma 4x4 Access Cab' 'CLA-Class' 'LX 570 AWD' 'GX 470 Sport Utility'
 '407 2 HDi FAP Esplanade' 'X6' 'Explorer' 'GLS-Class GLS550 4Matic'
 '4-Runner Limited 4x4' 'Avensis 2 Advanced Automatic' 'Hilux SR 4x4'
 'Land Cruiser Prado 3 D-4D 3dr' 'Rover LR3 SE' 'Sonata 2.4 Automatic'
 'Golf' 'Highlander Limited FWD' 'C-Class C 450 AMG 4MATIC (S205)'
 'RAV4 Automatic' 'Land Cruiser Prado 3 190hp' 'GL Class' 'F-150' 'Tacoma'
 'RAV4' 'NX' 'LX 570 (5 Seats) AWD' 'Fusion' 'Hilux 2 VVT-i SRX'
 'Highlander XLE 4x4 V6 (3.5L 6cyl 8A)' 'GS'
 'Tacoma Regular Cab Automatic' 'RX 350 XE 4x4' 'Ix35' '6 Series'
 'GLC-Class' 'Outlander' 'GLS-Class GLS350d 4Matic' 'LX' 'Tundra'
 'Civic Sedan EX Automatic' 'GLK-Class 350 4MATIC' 'Previa'
 'GX 460 Luxury' 'E550' '4-Runner Limited V6 4x4' 'Sienna LE 7 Passenger'
 'Highlander' 'IS' 'RX 350 FWD' 'Versa' 'Escape XLS Automatic'
 'Sorento 3.3L SXL FWD' 'Accord Automatic' 'Land Cruiser 5.7 V8 VXR'
 'Highlander 3.5L 4WD' 'LX 570' 'CR-V 2.4 EX 4x4 Automatic'
 'Corolla LE Eco (1.8L 4cyl 2A)' 'RAV4 XLE AWD' 'Vibe' 'Elantra'
 'Element EX 4WD' 'Avalon Touring' 'Sienna XLE' 'Highlander Limited' 'GX'
 'RAV4 2.4' 'MDX' 'Sunny' 'C350' 'Camaro LS Coupe' 'Avalon' 'Land Cruiser'
 'GLS-Class GLS450 4MATIC' 'Shuttle 2.2 2WD' 'Corolla 1.8 VVTL-i TS'
 'G-Class G 63 AMG 4MATIC' 'Edge' 'ES 330 Sedan' '508'
 'RAV4 XLE AWD (2.5L 4cyl 6A)' 'Cadillac Escalade Matt' 'GL-Class GL 450'
 'S-Class S 550' 'CR-V EX AWD' 'Corolla SE (1.8L 4cyl 6M)' 'IS 250'
 'Ibiza' 'Sienna XLE Limited FWD' 'Cerato' 'Tacoma Double Cab V6 4WD'
 'Elantra GLS Automatic' 'RX 300 4WD' 'Highlander Limited V6 FWD' 'Civic'
 'ES 300' 'RC 350 AWD' 'RAV4 2.5 Sport' 'IS 250 AWD Automatic'
 'A4 2.0T Premium Quattro' 'RAV4 1.8' 'Venza V6 AWD' 'X6 xDrive35i AWD'
 'Matrix' 'S-Class Maybach S 560 (X222)' 'Avalon 3' 'C-Hr XLE FWD'
 'Venza Limited AWD V6' 'E63' 'Sentra' 'I8 1.5 Roadster' 'ES 330'
 'Civic 1.8 5 Door Automatic' 'Corolla Sedan Automatic'
 'RX 350L Luxury AWD' 'Camry XLE V6 (3.5L V6 8A)' 'Cayenne' 'RAV4 2 4x4'
 'Camaro' 'Tacoma Double Cab V6 Automatic' 'Tacoma 4x4 Double Cab'
 'Passat 2 Sedan' 'Pilot EX 4x2 (3.5L 6cyl 5A)' 'Highlander Base AWD'
 'Charger RT' 'Rover Lr3 V6' 'Tacoma Double Cab V6' 'Sportage 2 L 4WD'
 'Accord 3.5 EX-L Automatic' 'Tacoma Access Cab'
 'Sienna XLE FWD (3.3L V6 5A)' 'CLS 55 AMG' 'Rover Discovery'
 'Tribute i 4WD Automatic' 'Accent' 'Highlander Sport' 'Avensis 2 D Verso'
 'GX 470' 'Solara 3 Convertible' 'Sienna LE' 'BMW 116i'
 'RAV4 2.5 Limited 4x4' 'Camry LE FWD (2.5L 4cyl 8AM)' 'GLK-Class 350'
 'Range Rover Evoque Off' 'RX 330 4WD' 'RAV4 Limited V6 4x4' 'QX56'
 'Pilot' 'Land Cruiser Prado 2.7' '528i' 'Focus 1.8 TDDi Viva' '3 Series'
 'M3' '5' 'Civic 1.6i ES Automatic' 'Tundra Double Cab 4x4 Limited'
 'Land Cruiser Prado 4' 'Range Rover Velar P380 SE R-Dynamic 4x4'
 'M Class ML 320' 'Pick-Up' 'A5' 'E430' 'CX-9' '330i' 'RAV4 Limited 4x4'
 'Odyssey 2.4 Absolute 4WD' 'Rio' 'Rav4' 'Highlander XLE FWD' 'CLS'
 'Highlander Limited V6 4x4' 'GL Class GL 450' 'Sienna LE FWD'
 'CX-9 Grand Touring' 'Range Rover Sport'
 'Land Cruiser Prado 4 V6 Dual VVT-i' 'IS 250 4WD' 'X5'
 'Land Cruiser 4.5 V8 VXR' 'MDX SUV 4dr AWD (3.7 6cyl 5A)'
 'Corolla 1.6 VVT-i Sol' 'Range Rover' 'Hilux 2 VVT-i' 'NX 200t FWD'
 '6 Wagon' 'CX-9 Touring AWD' 'Jetta' '328i' 'GS 300 Automatic'
 'Pathfinder' 'Ridgeline' 'Hilux 2.8 Diesel' 'Highlander V6'
 'Tundra 4x4 SR5 Access Cab' '7 Series' 'C230' 'M Class ML 350 TEC 4Matic'
 'R Class' 'Accent SE' 'E-350' 'Accord Sedan EX-L'
 'Camry XSE V6 (3.5L V6 8A)' 'IS 350 RWD' 'GLA 250'
 'Highlander Limited 3.5l 4WD' 'RX 350 2WD' 'Escape' 'NX 200 FWD' 'TL'
 'Hilux SR5+ 4x4' 'Tacoma Access Cab I4 AWD' 'Accord EX V6 Automatic'
 'Land Cruiser Prado GX' 'XF Premium' 'RAV4 2.5' 'Veloster' 'G-Class'
 'RX 350L 4WD' 'CC' 'RX 400h AWD' '530i' 'Soul' '307' 'RX 350 4WD'
 'Veracruz' 'MDX 4dr SUV (3.5L 6cyl 6A)' 'GMC Terrain'
 'Camry SE (2.5L 4cyl 8A)' '206 1.4 D' 'Accord Sedan EX Automatic'
 'Touran' 'ES 350 Ultra Luxury FWD' 'Venza LE AWD' 'CR-V EX 4WD Automatic'
 'Accord 2.4 Exec Automatic' 'Altima' '406' 'RX 350 4x4' 'Sienna CE'
 'Edge SE 4dr AWD (2.0L 4cyl 6A)' 'Forte EX'
 'Golf 1.6 Comfortline Automatic' 'Sonic LS'
 'Pilot EX 4dr SUV (3.5L 6cyl 5A)' 'F-150 FX2' 'RAV4 LE AWD'
 '6 3.0s Sport Wagon Touring' 'Galaxy 1.9 TDI Trend' 'Avalon XLS'
 'Pathfinder Automatic' 'Hilux 2.7 VVT-i 4X4 SRX' 'Duster'
 'Sienna LE FWD 8-Passenger' 'Beetle 2 Highline Automatic'
 'Tacoma X-Runner V6' 'CR-V EX Automatic' '6' 'X-Trail Automatic' 'C450'
 'Avensis' 'Pilot LX 4dr SUV (3.5L 6cyl 5A)' 'NX 200t AWD' 'Xterra SE'
 'IS 250 AWD' 'S Class' '626' 'Caliber 1.8' 'Land Cruiser J300 4'
 'Range Rover Evoque Pure Plus AWD' 'GX 460 Premium' 'Lincoln Navigator'
 'Accord 2.4' 'HiAce' 'Jetta 2.5 SEL' '407 2 Esplanade' 'GLA-Class'
 'Crown Royale' 'Accord Crosstour' 'Sienna CE AWD' 'Sienna LE 8 Passenger'
 'Venza XLE AWD' 'Land Cruiser Prado 2.7 VVT-i' 'LS 460' 'Taurus'
 'Range Rover Velar' 'GLS-Class GLS450 4Matic' 'LS 460 Luxury Sedan'
 'Tundra Double Cab' 'Ghibli' 'Gx300' '335i' 'Camry 2.4 LE' 'Focus' '450'
 'Passat' 'RX 350 F Sport AWD' 'C400' 'Highlander Limited V6 AWD'
 'Caravan' 'ES 350 Crafted Line FWD' 'Sorento' 'Range Rover Evoque Matt'
 'Camry 2.3 Hybrid' 'X3' 'C-Hr' 'X-Trail 2.5 4x4' 'Jetta 2.0T Sedan'
 'ZDX Base AWD' 'MDX Tech & A-Spec Pkgs SH-AWD' 'Corolla 1.6 VVT-i'
 'RAV4 XLE FWD (2.5L 4cyl 6A)' 'Camry Off' 'Accord 2.2 DTEC Estate'
 'Land Cruiser Prado 4 I' 'Tacoma Access Cab V6 Automatic'
 '300 Limited RWD' 'Tacoma SR5' 'A8 4.2 Quattro'
 '4-Runner SR5 4x4 Premium' '300 Touring RWD 3.5'
 'Corolla SE (1.8L 4cyl 2A)' 'Corolla 1.8' 'Camry 2.4 SE'
 'Hilux 2.5 D-4d SRX' 'Highlander 4x4' 'Sienna XLE 8 Passenger' 'Ducato'
 'Caravan Cargo Van' 'Land Cruiser 5.7 V8' 'X3 xDrive 30i' 'Venza LE FWD'
 'E400' 'SC Cabriolet' 'A-Class' 'Corolla LE (1.8L 4cyl 2A)'
 'Camry Hybrid' 'Avensis 1.6 VVT-i' 'Accord 2.0i Automatic'
 'Rogue S Krom Edition' 'Montero 3.5 AWD' 'S-Class S 450 4MATIC (W221)'
 'Camry Automatic' 'Vibe 1.8L' 'A6' 'Impreza' 'X1 xDrive28i AWD'
 'Range Rover Evoque' 'GLE-Class Matt' 'Almera' 'Optima' 'Highlander XLE'
 'Veloster Automatic' '4-Runner Limited 4X4' 'Rover Freelander' 'MKX'
 'Golf GTI 2.0T SE' '406 2 HDi ST' 'GS 300 AWD' 'Vibe Automatic' 'Z4'
 'RAV4 V6' 'Cooper' 'xD Base' 'C320' 'Enclave CXL AWD'
 'Edge Sport 4dr AWD' 'RAV4 Limited' 'Camry XLE FWD (2.5L 4cyl 8AM)' 'X1'
 'Rolls-Royce Cullinan Base' '206' 'Corolla Matt' 'Highlander Limited AWD'
 'Previa 2.4 Sol' 'A4' 'Land Cruiser 4.5 V8 GXR' 'TT' 'XC90 4.4 Exec 4WD'
 'Liberty' 'Venture' 'Yaris Sedan Automatic' 'CR-V LX AWD' 'Sharan 1.8 T'
 'Land Cruiser 4 V6 GX-R' 'Honda CR-V Touring AWD' 'Frontier'
 'Zafira 1.8 Automatic' 'E500' 'Hilux 2.7 VVTi 4x4 SRX' 'Odyssey EX-L'
 'Hilux SR5 4x4' 'X1 xDrive28i' 'QX80' 'SLK Class'
 'Land Cruiser 5.7 V8 VX-S' 'Sienna XLE 7 Passenger' 'F-Pace 25t AWD'
 'Cooper S' 'Altima Automatic' 'Venza LE AWD V6' 'Qashqai' 'XC90 3.2'
 '407 2 ST Comfort' 'Range Rover Velar P380 HSE R-Dynamic 4x4' 'Mkx'
 'Vibe 2.4 4WD' 'MKS EcoBoost' 'Solara' 'GLS-Class GLS63 AMG Base'
 'Lamborghini Huracan Evo' 'RAV4 3.5 4x4' 'Civic LX Hatchback'
 'Santa Fe 2.7 Automatic' 'Corolla Verso 1.8'
 'RAV4 LE 4dr SUV (2.5L 4cyl 6A)' 'Highlander Base FWD' 'Odyssey 2.4 4WD'
 'Accord Sedan LX' 'Land Rover Discovery' 'Brabus Rocket 900'
 'Solara 2.2 Coupe' 'Sentra 2 SL' 'Gs' 'Sienna LE FWD (3.3L V6 5A)'
 'Corolla Sedan' 'LX 470 AWD' 'Harrier' 'Escape Off' 'A6 3.2'
 'Previa 2.4 GL 7-Seater' 'XJ' 'Land Cruiser 4 V6 GXR' 'Pajero'
 'MDX W/Advance Pkg SH-AWD' 'GX 460 Premium Matt' 'ES 350 Luxury'
 'Avensis Liftback' '407 2 Automatic' '408' 'S-Class Matt' 'RX 400h'
 '4-Runner SR5 4x4' 'RAV4 2 VVT-i' 'Beetle 2.5L'
 'Corolla XSE (1.8L 4cyl 2A)' '4-Runner Limited V6'
 'Pilot EX 4x4 (3.5L 6cyl 5A)' 'A8 L 4.2 Quattro' 'Camry 2.4 SE Automatic'
 'RAV4 3.5 Sport 4x4' 'Tundra Automatic' 'Civic EX Sedan' '540i' '407'
 'Land Cruiser 4x4' 'CL' 'Beetle' 'RAV4 XLE Premium AWD' 'Camry XLE FWD'
 'FR-S 10 Series' 'Pathfinder Platinum 4x4' 'Avalon Limited'
 'Land Cruiser 4.6 V8 GXR' 'Caliber 1.8 L SE' 'Accord Sedan EX'
 'Matrix Hatchback 1.8 16V AWD' 'Solara 3.3 Convertible'
 'LX 570 Three-Row' '230E' 'SLK-Class' 'RX 300 2WD' 'Camry LE FWD'
 'Land Cruiser Prado 3 D-4d (190 Hp)' 'Range Rover Velar P340 S 4x4'
 'Endeavor SE' 'Escape S 4dr SUV (2.5L 4cyl 6A)' 'Accord 2.4 EX' 'Micra'
 'RAV4 LE FWD (2.5L 4cyl 6A)' 'X3 xDrive28i' 'Tacoma PreRunner'
 '6 2.5i Sport' 'C180' 'Titan' '4-Runner SR5' 'HS 250h' 'Tucson'
 'Avalon XLS Buckets' 'ES 330 Off' 'TL Automatic' 'RAV4 Limited V6'
 'BMW 7 Series' 'Accord 2.4 Executive' 'RX 330 AWD' 'Malibu LS'
 'RX 350 F SPORT AWD' '6 2 MZR Automatic' 'Cube 1.8 S CVT'
 '4-Runner Trail' 'C250' 'Accord Coupe 3.5 EX-L V6' 'Highlander Sport 4x4'
 '308 CC 1.6' 'Land Cruiser Prado GXL' 'Q7' 'Tacoma TRD Off Road'
 'Charger' 'Q5' 'IS 350 AWD' 'Torrent']
##################################################
Location:['Abuja' 'Lagos' 'Ibadan']
##################################################
Type:['Foreign Used' 'Nigerian Used' 'Brand New' nan]
##################################################
Maker:['BMW' 'Toyota' 'Lexus' 'Mercedes-Benz' 'Honda' 'Pontiac' 'Hyundai'
 'Land Rover' 'Mitsubishi' 'Volkswagen' 'Acura' 'Mazda' 'Ford' 'Jaguar'
 'Opel' 'Infiniti' 'Kia' 'Peugeot' 'Nissan' 'Chevrolet' 'Cadillac' 'Seat'
 'Audi' 'Porsche' 'Dodge' 'GMC' 'Renault' 'Lincoln' 'Maserati' 'Chrysler'
 'Fiat' 'Subaru' 'Mini' 'Scion' 'Buick' 'Rolls-Royce' 'Volvo' 'Jeep'
 'Lamborghini' 'Brabus']
##################################################
Distance:[ 30524.     nan 166839. ...   2650.  52485. 124088.]
##################################################
Colour:['White' 'Gold' 'Gray' 'Red' 'Black' 'Blue' 'Silver' 'Brown' 'Green'
 'Purple' 'Beige' 'Burgandy' 'Auto' 'Cream' 'Pink' 'Yellow' 'V' 'Teal']
##################################################
Year:['2,008' '2,013' '2,005' '2,011' '2,017' '1,999' '2,019' '2,006' '2,015'
 '2,007' '2,012' '2,016' '2,010' '2,003' '2,004' '2,021' nan '2,018'
 '2,014' '2,009' '2,001' '2,022' '2,002' '2,020' '1,997' '2,000' '1,998'
 '1,986' '1,991' '1,982']
##################################################

# Check for missing values

In [ ]:
train.isnull().sum()

Location                     0
Maker                        0
Model                        0
Year                        21
Colour                       0
Amount (Million Naira)      17
Type                       197
Distance                  2360
dtype: int64

In [ ]:
test.isnull().sum()

Location      0
Maker         0
Model         0
Year          2
Colour        0
Type         54
Distance    676
dtype: int64

# Fill N/A VALUES

In [ ]:
mode_value_Type = train["Type"].mode()[0]
train["Type"].fillna(mode_value_Type, inplace=True)

In [ ]:
mode_value_Type_test = test["Type"].mode()[0]
test["Type"].fillna(mode_value_Type_test, inplace=True)

In [ ]:
#train.Distance.unique()

In [ ]:
#train["Distance"].fillna(1, inplace=True)

In [ ]:
#train.isnull().sum()

In [ ]:
train.head()

,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.2,Nigerian Used,NaN
1,Ibadan,Hyundai,Sonata,"2,012",Silver,3.5,Nigerian Used,"125,000"
2,Lagos,Lexus,RX 350,"2,010",Red,9.2,Foreign Used,"110,852"
3,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.8,Foreign Used,"30,000"
4,Ibadan,Toyota,Highlander,"2,002",Red,2.6,Nigerian Used,"125,206"

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Location                7205 non-null   object
 1   Maker                   7205 non-null   object
 2   Model                   7205 non-null   object
 3   Year                    7184 non-null   object
 4   Colour                  7205 non-null   object
 5   Amount (Million Naira)  7188 non-null   float64
 6   Type                    7205 non-null   object
 7   Distance                4845 non-null   object
dtypes: float64(1), object(7)
memory usage: 450.4+ KB

In [ ]:
type(train["Distance"][1])

str

In [ ]:
def convert(no): 
    if(no==','): 
        return 'A'
    else: 
        return no

In [ ]:
#train["Distance"] = train["Distance"]

In [ ]:
#train["Distance"] = train["Distance"].replace(',','')

In [ ]:
train["Distance"].fillna(0, inplace=True)

In [ ]:
train.head()

,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.2,Nigerian Used,0
1,Ibadan,Hyundai,Sonata,"2,012",Silver,3.5,Nigerian Used,"125,000"
2,Lagos,Lexus,RX 350,"2,010",Red,9.2,Foreign Used,"110,852"
3,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.8,Foreign Used,"30,000"
4,Ibadan,Toyota,Highlander,"2,002",Red,2.6,Nigerian Used,"125,206"

In [ ]:
#train.Distance = [convert(i) for i in train.Distance]

In [ ]:
#train["Distance"] = train["Distance"].map(lambda x: x.replace(',',''))

AttributeError: ignored

In [ ]:
#train.Distance = [int(i) for i in train.Distance]

In [ ]:
train.Distance.unique()

array([0, '125,000', '110,852', ..., '114,257', '85,750', '83,308'],
      dtype=object)

In [ ]:
#mean_value_year = train["Year"].mean()
#train["Year"].fillna(mean_value_year, inplace=True)

In [ ]:
mean_value_D = train["Distance"].mean() #can't work because of ffloat
#train["Distance"].fillna(mean_value_D, inplace=True)

TypeError: ignored

In [ ]:
#mean_value_D_test = test["Distance"].mean()
#test["Distance"].fillna(mean_value_D_test, inplace=True)

In [ ]:
#train.drop('Distance', axis=1, inplace=True)

In [ ]:
#test.drop('Distance', axis=1, inplace=True)

In [ ]:
train.head()

,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.2,Nigerian Used,NaN
1,Ibadan,Hyundai,Sonata,"2,012",Silver,3.5,Nigerian Used,"125,000"
2,Lagos,Lexus,RX 350,"2,010",Red,9.2,Foreign Used,"110,852"
3,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.8,Foreign Used,"30,000"
4,Ibadan,Toyota,Highlander,"2,002",Red,2.6,Nigerian Used,"125,206"

In [ ]:
test.head()

,Location,Maker,Model,Year,Colour,Type,Distance
0,Abuja,BMW,323i,"2,008",White,Foreign Used,30524.0
1,Lagos,Toyota,Camry,"2,013",White,Foreign Used,NaN
2,Lagos,Toyota,Highlander Limited V6,"2,005",Gold,Foreign Used,NaN
3,Lagos,Toyota,Camry,"2,011",Gray,Foreign Used,166839.0
4,Lagos,Lexus,ES 350 FWD,"2,013",Red,Foreign Used,88862.0

In [ ]:
train.drop('Year', axis=1, inplace=True)

In [ ]:
test.drop('Year', axis=1, inplace=True)

In [ ]:
train.isnull().sum()

Location                     0
Maker                        0
Model                        0
Colour                       0
Amount (Million Naira)      17
Type                         0
Distance                  2360
dtype: int64

In [ ]:
train.dropna(subset=['Amount (Million Naira)'],inplace=True)

In [ ]:
train.isnull().sum()

Location                     0
Maker                        0
Model                        0
Colour                       0
Amount (Million Naira)       0
Type                         0
Distance                  2352
dtype: int64

In [ ]:
test.isnull().sum()

Location      0
Maker         0
Model         0
Colour        0
Type          0
Distance    676
dtype: int64

In [ ]:
# Label Encoding
cat_features =['Location', 'Maker', 'Model', 'Colour', 'Type']

for cat_feature in cat_features:
  train[f"{cat_feature}_cat"] = train[cat_feature].astype('category')
  train[f"{cat_feature}_cat"] = train[f"{cat_feature}_cat"].cat.codes

train.head()

,Location,Maker,Model,Colour,Amount (Million Naira),Type,Distance,Location_cat,Maker_cat,Model_cat,Colour_cat,Type_cat
0,Abuja,Honda,Accord Coupe EX V-6,Silver,2.2,Nigerian Used,NaN,0,17,116,16,2
1,Ibadan,Hyundai,Sonata,Silver,3.5,Nigerian Used,"125,000",1,19,1047,16,2
2,Lagos,Lexus,RX 350,Red,9.2,Foreign Used,"110,852",2,29,906,15,1
3,Abuja,Mercedes-Benz,GLE-Class,Blue,22.8,Foreign Used,"30,000",0,34,506,2,1
4,Ibadan,Toyota,Highlander,Red,2.6,Nigerian Used,"125,206",1,52,567,15,2

In [ ]:
# Label Encoding
cat_featurez =['Location', 'Maker', 'Model', 'Colour', 'Type']

for cat_feat in cat_featurez:
  test[f"{cat_feat}_cat"] = test[cat_feat].astype('category')
  test[f"{cat_feat}_cat"] = test[f"{cat_feat}_cat"].cat.codes

test.head()

,Location,Maker,Model,Colour,Type,Distance,Location_cat,Maker_cat,Model_cat,Colour_cat,Type_cat
0,Abuja,BMW,323i,White,Foreign Used,30524.0,0,2,8,16,1
1,Lagos,Toyota,Camry,White,Foreign Used,NaN,2,37,123,16,1
2,Lagos,Toyota,Highlander Limited V6,Gold,Foreign Used,NaN,2,37,272,7,1
3,Lagos,Toyota,Camry,Gray,Foreign Used,166839.0,2,37,123,8,1
4,Lagos,Lexus,ES 350 FWD,Red,Foreign Used,88862.0,2,20,192,12,1

In [ ]:
# Drop the reductant features since Label encoding have been done
train.drop(['Location', 'Maker', 'Model', 'Colour', 'Type'], axis=1, inplace=True)
train.head()
train.info()#Check if there are only int and floats

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7188 entries, 0 to 7204
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Amount (Million Naira)  7188 non-null   float64
 1   Distance                4836 non-null   object
 2   Location_cat            7188 non-null   int8
 3   Maker_cat               7188 non-null   int8
 4   Model_cat               7188 non-null   int16
 5   Colour_cat              7188 non-null   int8
 6   Type_cat                7188 non-null   int8
dtypes: float64(1), int16(1), int8(4), object(1)
memory usage: 210.6+ KB

In [ ]:
# Drop the reductant features since Label encoding have been done
test.drop(['Location', 'Maker', 'Model', 'Colour', 'Type'], axis=1, inplace=True)
test.head()
test.info()#Check if there are only int and floats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Distance      1385 non-null   float64
 1   Location_cat  2061 non-null   int8
 2   Maker_cat     2061 non-null   int8
 3   Model_cat     2061 non-null   int16
 4   Colour_cat    2061 non-null   int8
 5   Type_cat      2061 non-null   int8
dtypes: float64(1), int16(1), int8(4)
memory usage: 28.3 KB

In [ ]:
y = train["Amount (Million Naira)"]  # Target

x = train.drop("Amount (Million Naira)", axis=1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3 , random_state =42)

# Train your model

In [ ]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train, y_train)

ValueError: ignored

# Evaluate your model

In [ ]:
from sklearn.metrics import mean_squared_error

# we are using mean_squared_error because 
# this is a regression model

y_pred = reg.predict(x_test)

print("MSE",mean_squared_error(y_test,y_pred))

# SUBMISSION MODE

In [ ]:
answers = reg.predict(test)

In [ ]:
my_sub = pd.read_csv("/content/drive/MyDrive/free-ai-classes-in-every-city-hackathon/Test.csv")

In [ ]:
my_sub_id = my_sub['VehicleID']
submit = pd.DataFrame(my_sub_id)
submit.head()

In [ ]:
submit["Amount (Million Naira)"] = answers

In [ ]:
submit.tail()

In [ ]:
submit.to_csv("second_submisson_GPU.csv", index=False)